* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
  }
  .first_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  .base_layer {
    width: 80vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10vw;
    overflow: hidden;
  }
  
  .backgr_image {
    width: 100vw;
    height: 100vh;
    background: url("./assets/jpg/v22_1369.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
  }
  
  .header {
    width: 100vw;
    height: 16vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .menu {
    width: 70vw;
    height: 100vh;
    background: url("./assets/jpg/v22_857.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7vh;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 22vw;
    overflow: hidden;
  }
  .option_1 {
    color: rgba(24,24,24,1);
    position: relative;
    top: 0.5vh;
    left: 0px;
    font-family: Raleway;
    font-weight: Light;
    font-size: 1.7vw;
    opacity: 1;
    text-align: left;
  }
  .option_2 {
    color: rgba(24,24,24,1);
    position: absolute;
    top: 0.5vh;
    left: 7vw;
    font-family: Raleway;
    font-weight: Light;
    font-size: 1.7vw;
    opacity: 1;
    text-align: left;
  }
  .option_3 {
    color: rgba(24,24,24,1);
    position: absolute;
    top: 0.5vh;
    left: 14vw;
    font-family: Raleway;
    font-weight: Light;
    font-size: 1.7vw;
    opacity: 1;
    text-align: left;
  }
  .option_4 {
    color: rgba(24,24,24,1);
    position: relative;
    top: 0.5vh;
    left: 26vw;
    font-family: Raleway;
    font-weight: Light;
    font-size: 1.7vw;
    opacity: 1;
    text-align: left;
  }
  .submenu {
    width: 13vw;
    height: 2vw;
    background: url("./assets/jpg/under_menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 40vw;
    overflow: hidden;
  }
  .logo{
    width: 20vw;
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4vh;
    left: 2vw;
    overflow: hidden;
  }
  .logo_img {
    width: 20vw;
    height: 2.5vw;
    color: rgba(24,24,24,1);
    background: url("./assets/jpg/LOGO_main.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    /* top: 4vh;
    left: 2vw; */
    overflow: hidden;
  }
  
  .description {
    width: 20vw;
    color: rgba(175,175,175,1);
    position: absolute;
    top: 5vh;
    left: 1vw;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 1.5vw;
    opacity: 1;
    text-align: left;
  }
  .greeting {
    width: 60vw;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 38vh;
    left: 5vw;
    font-family: Raleway;
    font-weight: Light;
    font-size: 2.8vw;
    opacity: 1;
    text-align: left;
  }

  .button_1 {
    color: rgba(24,24,24,1);
    position: absolute;
    top: 0.6vh;
    left: 14vw;
    font-family: Raleway;
    font-weight: Light;
    font-size: 1.6vw;
    opacity: 1;
    text-align: left;
  }













  .second_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    top: 8vh;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  
  .base_layer_2 {
    width: 80vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10vw;
    overflow: hidden;
  }
  
  .header_2 {
    width: 40vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2vh;
    left: 30vw;
    font-family: Cormorant Garamond;
    font-weight: Regular;
    font-size: 5vw;
    opacity: 1;
    text-align: left;
  }
  
  .submenu_2 {
    width: 80vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12vh;
    overflow: hidden;
  }

  .option_2_1 {
    width: 21vw;
    height: 100vw;
    background: url("./assets/jpg/v22_1371.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0;
    overflow: hidden;
    background: rgba(255,255,255,1);
  }
  
  .desc_img_1 {
    width: 5vw;
    height: 5vw;
    color: rgba(24,24,24,1);
    background: url("./assets/jpg/Group.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5vh;
    overflow: hidden;
  }
  
  .desc2_1 {
    /* width: 137px; */
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6vh;
    left: 6vw;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.4vw;
    opacity: 1;
    text-align: left;
  }
  
  
  
  
  .option_2_2 {
    width: 18vw;
    height: 100vw;
    background: url("./assets/jpg/v22_1371.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 21vw;
    overflow: hidden;
    background: rgba(255,255,255,1);
  }
  
  
  .desc_img_2 {
    width: 5vw;
    height: 5vw;
    color: rgba(24,24,24,1);
    background: url("./assets/jpg/codepen.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5vh;
    overflow: hidden;
  }
  
  .desc2_2 {
    /* width: 137px; */
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8vh;
    left: 6vw;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.4vw;
    opacity: 1;
    text-align: left;
  }
  
  
  
  
  .option_2_3 {
    width: 20vw;
    height: 100vw;
    background: url("./assets/jpg/v22_1371.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 40vw;
    overflow: hidden;
    background: rgba(255,255,255,1);
  }
  
  
  .desc_img_3 {
    width: 5vw;
    height: 5vw;
    color: rgba(24,24,24,1);
    background: url("./assets/jpg/layers.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5vh;
    overflow: hidden;
  }
  
  .desc2_3 {
    /* width: 137px; */
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6vh;
    left: 6vw;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.4vw;
    opacity: 1;
    text-align: left;
  }
  
  
  
  
  .option_2_4 {
    width: 21vw;
    height: 100vw;
    background: url("./assets/jpg/v22_1371.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 59vw;
    overflow: hidden;
    background: rgba(255,255,255,1);
  }
  
  
  .desc_img_4 {
    width: 6vw;
    height: 5vw;
    color: rgba(24,24,24,1);
    background: url("./assets/jpg/truck.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5vh;
    overflow: hidden;
  }
  
  .desc2_4 {
    /* width: 137px; */
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6vh;
    left: 7vw;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.4vw;
    opacity: 1;
    text-align: left;
  }
  
  
  .option_2_4 {
    width: 21vw;
    height: 100vw;
    background: url("./assets/jpg/v22_1371.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 59vw;
    overflow: hidden;
    background: rgba(255,255,255,1);
  }
  
  
  .collage_1 {
    width: 80vw;
    height: 72vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 28vh;
    overflow: hidden;
  }
  
  .collImg_1 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
  .collImg_2 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 29vw;
    overflow: hidden;
  }
  .collImg_3 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 58vw;
    overflow: hidden;
  }
  
  .collImg_4 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38vh;
    left: 0;
    overflow: hidden;
  }
  
  .collImg_5 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38vh;
    left: 29vw;
    overflow: hidden;
  }
  .collImg_6 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38vh;
    left: 58vw;
    overflow: hidden;
  }










  .third_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    top: 15vh;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  
  .base_layer_3 {
    width: 80vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10vw;
    overflow: hidden;
  }
  
  .header_3 {
    width: 40vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5vh;
    left: 30vw;
    font-family: Cormorant Garamond;
    font-weight: Regular;
    font-size: 5vw;
    opacity: 1;
    text-align: left;
  }
  
  .video_1 {
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 18vh;
    left: 0vw;
    overflow: hidden;
  }
  









  .fourth_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    top: 8vh;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  
  .base_layer_4 {
    width: 80vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10vw;
    overflow: hidden;
  }
  
  .header_4 {
    width: 80vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5vh;
    left: 15vw;
    font-family: Cormorant Garamond;
    font-weight: Regular;
    font-size: 5vw;
    opacity: 1;
    text-align: left;
  }
  
  .collage_2 {
    width: 80vw;
    height: 72vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 20vh;
    overflow: hidden;
  }
  
  .coll2Img_1 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/4_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
  .coll2Img_2 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/4_2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 29vw;
    overflow: hidden;
  }
  .coll2Img_3 {
    width: 22vw;
    height: 22vw;
    background: url("./assets/jpg/4_3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 58vw;
    overflow: hidden;
  }
  
  .desc_coll2Img_1 {
    width: 22vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
  }
  
  .desc_coll2Img_2 {
    width: 22vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
    left: 29vw;
  }
  .desc_coll2Img_3 {
    width: 22vw;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
    left: 58vw;
  }

  .price_coll2Img_1 {
    width: 11vw;
    color: rgba(100,100,100,1);
    position: absolute;
    top: 51vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
  }
  
  .price_coll2Img_2 {
    width: 11vw;
    color: rgba(100,100,100,1);
    position: absolute;
    top: 51vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
    left: 29vw;
  }
  
  .price_coll2Img_3 {
    width: 11vw;
    color: rgba(100,100,100,1);
    position: absolute;
    top: 51vh;
    left: 0;
    font-family: Roboto;
    font-weight: Light;
    font-size: 1.8vw;
    opacity: 1;
    text-align: left;
    left: 58vw;
  }
  
  .cart_1 {
    width: 2vw;
    height: 2vw;
    background: url("./assets/jpg/shopping-cart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 20vw;
    top: 51vh;
    overflow: hidden;
  }
  
  .cart_2 {
    width: 2vw;
    height: 2vw;
    background: url("./assets/jpg/shopping-cart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 49vw;
    top: 51vh;
    overflow: hidden;
  }
  
  .cart_3 {
    width: 2vw;
    height: 2vw;
    background: url("./assets/jpg/shopping-cart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 78vw;
    top: 51vh;
    overflow: hidden;
  }
  
  










  

  .fifth_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  
  .base_layer_5 { 
    width: 80vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10vw;
    overflow: hidden;
  }
  
  
  
  
  .header_5 {
    width: 80vw;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5vh;
    font-family: Cormorant Garamond;
    font-weight: Regular;
    font-size: 7vh;
    opacity: 1;
    text-align: left;
    font-style:inherit;
    text-align: center;
  }
  
  .backgr_image_5 {
    width: 100vw;
    height: 100vh;
    top: 12vh;
    background: url("./assets/jpg/v23_1507.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
  }

  .input_email{
    display: flex;
    width: 50vw ;
    height: 6vh;
    left: 15vw;
    top:30vh;
    position: relative;
  }
  
  .input_tel{
    display: flex;
    width: 50vw ;
    height: 6vh;
    left: 15vw;
    top:36vh;
    position: relative;
  }
  
  .input_feedback{
    display: flex;
    width: 50vw ;
    height: 10vh;
    left: 15vw;
    top:42vh;
    position: relative;
  }
  
  ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 3vh;
  
  }
  
  .send_feedback{
    display: flex;
    width: 25vw ;
    height: 6vh;
    left: 27.5vw;
    top:48vh;
    position: relative;
  }







  .sixth_page {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255,255, 1);
    opacity: 1;
    position: relative;
    left: 0px;
    overflow: hidden;
    display: flex;
  }
  
  .base_layer_6 {
    width: 90vw;
    height: 100vh;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    overflow: hidden;
  }
  
  .backgr_image_6 {
    width: 88vw;
    height: 50vw;
    top: 12vh;
    left: 10vw;
    background: url("./assets/jpg/info.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
  }
  